$main-green: #08a045;
$font-gray: #9D9D9D;
$light-gray: #DADADA;

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-bottom: 3em;

  main {
    width: 70%;
    margin-top: 4.5em;
    border-left: 2px solid $light-gray;
    border-right: 2px solid $light-gray;
    border-bottom: 2px solid $light-gray;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;

    .user-info {
      width: calc(100% / 3);
      display: flex;
      align-items: center;
      flex-direction: column;

      .profile-picture {
        width: 12rem;
        height: 12rem;
        margin-top: 2rem;
        background-size: cover;

        img {
          height: 100%;
          width: 100%;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .name {
        font-size: 1.5rem;
        color: $main-green;
  
        p {
          margin: .5em 0 0 0;
        }
      }

      .city {
        font-size: 1em;
        color: $font-gray;
  
        p {
          margin: .5em 0;
        }
      }

      .bio {
        font-size: 1em;
        color: $font-gray;
        text-align: justify;

  
        p {
          margin: .5em 4em;
        }
      }

      .update-profile-info-button {
        width: calc(100% - 8em);
  
        button {
          font-size: 1em;
          font-weight: 100;
          width: 100%;
          line-height: 2.5em;
          padding: 0;
          margin: 1em 0 1.5em 0;
          border-radius: 20px;
          background-color: $main-green;
          color: white;
          border: none;
          box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
          letter-spacing: .2em;
          transition: transform 0.3s ease;
        }
  
        button:hover {
          transform: scale(1.025);
        }
      }
    }

    .sections-container {
      display: flex;
      flex-direction: column;
      width: calc(2 * (100% / 3));

      .trainings-invites {
        width: 100%;
        display: flex;
        justify-content: space-around;
  
        .notification-box {
          border: 2px solid $light-gray;
          border-radius: 20px;
          margin: 1em;

          .notification-box-header {
            width: 100%;
          }
        }

        div {
          width: 50%;
          display: flex;
          flex-direction: column;
          align-items: center;
  
          p {
            width: 100%;
            text-align: center;
            color: $main-green;
            font-size: 1.5em;
            margin: 2em 0 0 0;
          }
  
          .empty-list-info {
            color: $light-gray;
            margin: 1em 0 1em 0;
          }
  
          ul {
            list-style-type: none;
            padding: 0;
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
  
            div {
              width: 80%;
              background-color: $main-green;
              border-radius: 20px;
              margin: .5em 0;
              padding: 1em;
              box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
  
            .button-container {
              display: flex;
              flex-direction: row;
              justify-content: space-evenly;
              box-shadow: unset;
              padding: 0;
              margin: .5em 0 0 0;

              button:nth-child(1) {
                color: $main-green;
              }

              
              button:nth-child(2) {
                color: red;
              }

              button {
                border-radius: 20px;
                border: none;
                transition: transform 0.3s ease;
              }

              button:hover {
                transform: scale(1.05);
              }
            }

              li {
                color: $main-green;
                color: white;
                a {
                  color: white;
                  text-decoration: none;
                  font-weight: 600;
                }
              }
            }
          }
        }
      }
    }
  }
}