<app-nav-bar></app-nav-bar>
<div class="container">
  <main>
		<section class="user-info">
			<div class="profile-picture">
				<img
					src="../../assets/img/profile-pictures/1.jpg"
					alt="Profile picture"
				/>
			</div>
			<div class="name">
				<p>{{ user?.firstName }}</p>
			</div>
			<div class="city">
				<p>{{ user?.city?.name }}</p>
			</div>
			<div class="bio">
				<p>{{ user?.bio }}</p>
			</div>
			<div class="update-profile-info-button">
				<button>UPDATE INFO</button>
			</div>
		</section>
		<section class="trainings">
			<div class="arranged-trainings">

			</div>
			<div class="training-history">

			</div>
		</section>
	</main>
</div>
