<app-nav-bar></app-nav-bar>
<div class="container">
  <main>
    <section class="user-info">
      <div class="profile-picture">
        @if (user?.profilePictureId) {
          <img
            [src]="'http://localhost:8080/api/v1/users/' + user?.userId + '/profile-picture'"
            alt="Profile picture"
          />
        } @else {
          <img
            src="../../../assets/img/avatar.jpg"
            alt="Profile picture"
          />
        }
      </div>
      <div class="name">
        <p>{{ user?.firstName }}</p>
      </div>
      <div class="city">
        <p>{{ user?.city?.name }}</p>
      </div>
      <div class="bio">
        <p>{{ user?.bio }}</p>
      </div>
      <div class="friends-box">
        <div class="friends-box-header">
          <p>FRIENDS LIST</p>
          @if (this.friendsList?.length === 0) {
            <p class="empty-list-info">No friends</p>
          }
          <ul>
            @for(friend of friendsList; track friend) {
              <div>
                <li>
                  <a [routerLink]="['/', friend.username]">
                    {{ friend.firstName }}
                  </a>
                </li>
              </div>
            }
          </ul>
        </div>
      </div>
    </section>
    <div class="sections-container">
      <section class="trainings-invites">
        <div class="notification-box">
          <div class="notification-box-header">
            <p>UPCOMING TRAININGS</p>
          </div>
          <ul>
            @if (upcomingTrainings?.length === 0) {
            <p class="empty-list-info">No upcoming trainings</p>
            } 
            @for(training of upcomingTrainings; track training.trainingId) {
            <div>
              <li>
                {{ training.sport.name }} with
                {{
                  user?.userId === training.participantOne.userId
                    ? training.participantTwo.firstName
                    : training.participantOne.firstName
                }}
                - {{ training.date | date : "mediumDate" }}
              </li>
            </div>
            }
          </ul>
        </div>
        <div class="notification-box">
          <div class="notification-box-header">
            <p>TRAINING HISTORY</p>
          </div>
          <ul>
            @if (pastTrainings?.length === 0) {
            <p class="empty-list-info">No past trainings</p>
            } @for(training of pastTrainings; track training.trainingId) {
            <div>
              <li>
                {{ training.sport.name }} with
                {{
                  user?.userId === training.participantOne.userId
                    ? training.participantTwo.firstName
                    : training.participantOne.firstName
                }}
                - {{ training.date | date : "mediumDate" }}
              </li>
            </div>
            }
          </ul>
        </div>
      </section>
      <section class="trainings-invites">
        <div class="notification-box">
          <div class="notification-box-header">
            <p>TRAINING INVITES</p>
          </div>
          <ul>
            @if (trainingInvites?.length === 0) {
            <p class="empty-list-info">No training invites</p>
            } 
            @for(trainingInvite of trainingInvites; track trainingInvite) {
            <div>
              <li>
                {{ trainingInvite.sport.name }} with
                <a [routerLink]="['/', trainingInvite.sender.username]">
                  {{ trainingInvite.sender.firstName }}
                </a>
                - {{ trainingInvite.date | date : "mediumDate" }}
              </li>
              <div class="button-container">
                <button (click)="acceptTrainingInvite(trainingInvite.trainingInvitationId)"><i class="fa-solid fa-check"></i></button>
                <button (click)="denyTrainingInvite(trainingInvite.trainingInvitationId)"><i class="fa-solid fa-xmark"></i></button>
              </div>
            </div>
            }
          </ul>
        </div>
        <div class="notification-box">
          <div class="notification-box-header">
            <p>FRIEND INVITES</p>
          </div>
          <ul>
            @if (friendInvites?.length === 0) {
            <p class="empty-list-info">No friend invites</p>
            } @for(friendInvite of friendInvites; track friendInvite.friendshipInvitationId) {
            <div>
              <li>
                Invite from
                <a [routerLink]="['/', friendInvite.sender.username]">
                  {{ friendInvite.sender.firstName }}
                </a>
              </li>
              <div class="button-container">
                <button (click)="acceptFriendInvite(friendInvite.friendshipInvitationId)"><i class="fa-solid fa-check"></i></button>
                <button (click)="denyFriendInvite(friendInvite.friendshipInvitationId)"><i class="fa-solid fa-xmark"></i></button>
              </div>
            </div>
            }
          </ul>
        </div>
      </section>
    </div>
  </main>
</div>
<app-mobile-footer></app-mobile-footer>
