services:
  postgres-db:
    container_name: postgres-db
    image: postgres
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: traintogether
    ports:
      - "5432:5432"
    volumes:
      - postgres:/var/lib/postgres/data

volumes:
  postgres:
