<app-nav-bar></app-nav-bar>
<div class="container">
  <main>
    <section class="search-panel">
      <input type="text" placeholder="City">
    </section>
    <section class="profiles">
      @for (user of users; track user.userId) {
        <div class="profile-card">
          <div class="profile-picture">
            <img src="../../assets/img/profile-pictures/{{user.profilePictureId}}" alt="Profile picture" />
          </div>
          <div class="name">
            <p>{{ user.firstName }}</p>
          </div>
          <div class="city">
            <p>{{ user.city }}</p>
          </div>
          <div class="profile-button">
            <button>PROFILE</button>
          </div>
        </div>
      }
    </section>
  </main>
</div>
