<app-nav-bar></app-nav-bar>
<div class="container">
	<main>
		<section class="user-info">
      <div class="profile-picture">
        @if (user?.profilePictureId) {
          <img
            [src]="'http://localhost:8080/api/v1/users/' + user?.userId + '/profile-picture'"
            alt="Profile picture"
          />
        } @else {
          <img
            src="../../../assets/img/avatar.jpg"
            alt="Profile picture"
          />
        }
      </div>
      <div class="name">
        <p>{{ user?.firstName }}</p>
      </div>
      <div class="city">
        <p>{{ user?.city?.name }}</p>
      </div>
      <div class="sports">
        <ul>
          @for (sport of sports; track sport) {
            <li> 
              <div> {{ sport.name }} </div> 
            </li>
          }
        </ul>
      </div>
      <div class="bio">
        <p>{{ user?.bio }}</p>
      </div>
			<div class="invite-button">
        @if (!this.isFriend) {
          <button (click)="sendFriendInvite()">INVITE TO FRIENDS</button>
        }
        @if (this.message) {
          <p>{{ this.message }}</p>
        }
			</div>
      @if (isLoggedUserAdmin) {
        <div class="admin-buttons">
          <button (click)="deleteUserAccount()">DELETE</button>
          <button (click)="blockUserAccount()">BLOCK</button>
        </div>
      }
    </section>
    <section class="training-invite">
      <form class="invite-form" [formGroup]="trainingInviteForm" (ngSubmit)="onSubmit()">
        <div class="field">
          <select id="sports" formControlName="sport">
            <option value="" disabled selected hidden>Sport</option>
            @for (sport of sports; track sport) {
              <option value="{{ sport.name }}">{{ sport.name }}</option>
            }
          </select>
        </div>
        <div class="field">
          <input 
            type="text" 
            onfocus="this.type='date'" 
            onblur="this.type='text'" 
            formControlName="date" 
            placeholder="Date"
          >
        </div>
        <div class="field">
          <textarea placeholder="Message" cols="21" rows="11" formControlName="message"></textarea>
        </div>
        <div class="invite-button">
          <button type="submit">INVITE TO TRAINING</button>
        </div>
      </form>
    </section>
	</main>
</div>
