$main-green: #08a045;
$font-gray: #9d9d9d;
$light-gray: #dadada;

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-bottom: 3em;

  main {
    width: 50%;
    margin-top: 4.5em;
    border-left: 2px solid $light-gray;
    border-right: 2px solid $light-gray;
    border-bottom: 2px solid $light-gray;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .user-info {
      width: calc(100% / 2);
      display: flex;
      align-items: center;
      flex-direction: column;

      .profile-picture {
        width: 12rem;
        height: 12rem;
        margin-top: 2rem;
        background-size: cover;

        img {
          height: 100%;
          width: 100%;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .name {
        font-size: 1.5rem;
        color: $main-green;

        p {
          margin: 0.5em 0 0 0;
        }
      }

      .city {
        font-size: 1em;
        color: $font-gray;

        p {
          margin: 0.5em 0;
        }
      }

      .bio {
        font-size: 1em;
        color: $font-gray;
        text-align: center;

        p {
          margin: 0.5em 4em;
        }
      }

      .sports {

        ul {
          display: grid;
          flex-direction: column;
          list-style: none;
          margin: 0;
          padding: 0;

          li {
            margin: 0.25em;

            div {
              text-align: center;
              border: 2px solid $main-green;
              border-radius: 20px;
              color: $font-gray;
              padding: .5em;
            }
          }
        }
      }

      .invite-button {
        width: calc(100% - 8em);

        button {
          font-size: 1em;
          font-weight: 100;
          width: 100%;
          line-height: 2.5em;
          padding: 0;
          margin: 1em 0 1em 0;
          border-radius: 20px;
          background-color: $main-green;
          color: white;
          border: none;
          box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
          letter-spacing: 0.2em;
          transition: transform 0.3s ease;
        }

        button:hover {
          transform: scale(1.025);
        }
      }

      .admin-buttons {
        width: calc(100% - 8em);
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        button {
          font-size: 1em;
          font-weight: 100;
          width: 33%;
          line-height: 2.5em;
          padding: 0;
          margin: 1em 0 1em 0;
          border-radius: 20px;
          background-color: #ad0000;
          color: white;
          border: none;
          box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
          transition: transform 0.3s ease;
        }

        button:hover {
          transform: scale(1.025);
        }
      }
    }

    .training-invite {
      width: calc(100% / 2);
      display: flex;
      align-items: center;
      flex-direction: column;

      .invite-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(100% - 8em);
        margin: 1em 0 0 0;

        .field {
          width: 100%;
          margin: 0.5em 0;

          input,
          textarea,
          select {
            width: calc(100% - 2em);
            line-height: 2.5em;
            font-size: 1.25em;
            padding: 0 1em;
            border-radius: 20px;
            border: 1px solid #dadada;
            background: #fff;
            box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.25) inset;
            color: $font-gray;
          }

          select {
            width: 100%;
            height: 2.5em;
          }

          textarea {
            resize: none;
            font-family: Arial, sans-serif;
            padding-top: 1em;
            line-height: 1em;
          }

          input:focus,
          textarea:focus,
          select:focus {
            outline-color: $font-gray;
            outline-width: 1px;
          }

          input::placeholder,
          textarea::placeholder {
            color: $font-gray;
          }
        }

        .invite-button {
          width: 100%;
          margin: 1em 0;

          button {
            font-size: 1em;
            font-weight: 100;
            width: 100%;
            line-height: 2.5em;
            padding: 0;
            border-radius: 20px;
            background-color: $main-green;
            color: white;
            border: none;
            box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
            letter-spacing: 0.2em;
            transition: transform 0.3s ease;
          }

          button:hover {
            transform: scale(1.025);
          }
        }
      }
    }
  }
}

app-mobile-footer {
  display:none;
}

@media only screen and (max-device-width: 1200px) { 
  .container {

    main {
      width: 80%;
    }
  }
}

@media only screen and (max-device-width: 922px) {
  .container {

    main {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 2em;

      .user-info {
        width: 100%;
      }

      .training-invite {
        width: 100%;

        .invite-form {
          width: 90%;
        }
      }
    }
  }

  app-mobile-footer {
    display:block;
  }
}
