$main-green: #08a045;
$font-gray: #9D9D9D;
$light-gray: #DADADA;

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-bottom: 3em;

    main {
        width: 50%;
        margin-top: 4.5em;
        border-left: 1px solid $light-gray;
        border-right: 1px solid $light-gray;
        display: flex;
        justify-content: center;
    
        .user-info {
            width: calc(100% / 2);
            display: flex;
            align-items: center;
            flex-direction: column;
      
            .profile-picture {
              width: 12rem;
              height: 12rem;
              margin-top: 2rem;
              background-size: cover;
      
              img {
                height: 100%;
                width: 100%;
                border-radius: 50%;
                object-fit: cover;
              }
            }
      
            .name {
              font-size: 1.5rem;
              color: $main-green;
        
              p {
                margin: .5em 0 0 0;
              }
            }
      
            .city {
              font-size: 1em;
              color: $font-gray;
        
              p {
                margin: .5em 0;
              }
            }
      
            .bio {
              font-size: 1em;
              color: $font-gray;
              text-align: justify;
      
        
              p {
                margin: .5em 4em;
              }
            }
      
            .invite-button {
              width: calc(100% - 8em);
        
              button {
                font-size: 1em;
                font-weight: 100;
                width: 100%;
                line-height: 2.5em;
                padding: 0;
                margin: 2em 0 0 0;
                border-radius: 20px;
                background-color: $main-green;
                color: white;
                border: none;
                box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
                letter-spacing: .2em;
                transition: transform 0.3s ease;
              }
        
              button:hover {
                transform: scale(1.025);
              }
            }
          }
    }
}