$main-green: #08a045;
$font-gray: #9d9d9d;

nav {
  position: fixed;
  align-self: flex-start;
  width: 100%;
  height: 3em;
  background-color: $main-green;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.25);
  color: white;
	font-size: 1.5em;

  p {
    color: white;
    margin: 0 0.5em;
    letter-spacing: .2em;
    text-shadow: 5px 4px 7px rgba(0, 0, 0, 0.25);
		font-weight: 100;
  }

	.link-panel {
		a {
			text-decoration: none;
			color: white;
			margin: 0 .5em;
			text-shadow: 5px 4px 7px rgba(0, 0, 0, 0.25);
		}

		a:hover {
			text-decoration: underline;
		}
	}
}

@media only screen and (max-device-width: 922px) {
  nav {
    justify-content: center;

    .link-panel {
      display: none;
    }
  }
}