<div class="container">
  <header>
    <h1>TRAIN TOGETHER</h1>
    <div class="logo">
      <img src="../../assets/img/logo.svg" alt="Two people running" />
    </div>
  </header>
  <main class="register-container">
    @if (this.registerStep === 1) {
      <app-credentials-form
        (formSubmitted)="handleCredentialsFormSubmission($event)"
      ></app-credentials-form>
    } @if (this.registerStep === 2) {
      <app-personal-info-form
        [cities]="cities"
        (formSubmitted)="handlePersonalInfoFormSubmission($event)"
      ></app-personal-info-form>
    } @if (this.registerStep === 3) {
      <app-sports-form
        [sports]="sports"
        (formSubmitted)="handleSportsFormSubmission($event)"
      ></app-sports-form>
    } @if (this.registerStep === 4) {
      <h2 class="profile-picture-header">UPLOAD PROFILE PICTURE</h2>
      <div class="field">
        <input type="file" (change)="onFileSelected($event)" required />
      </div>
      <div class="button">
        <button (click)="register()">SIGN UP</button>
      </div>
    }

    <p class="login-link">
      Already have an account? <a routerLink="/login">Sign in</a>
    </p>
  </main>
</div>
