$main-green: #08a045;
$font-gray: #9d9d9d;

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .field {
    width: 100%;
    margin: .5em 0;
  
    input {
      width: calc(100% - 2em);
      line-height: 2.5em;
      font-size: 1.25em;
      padding: 0 1em;
      border-radius: 20px;
      border: 1px solid #DADADA;
      background: #FFF;
      box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.25) inset;
      color: $font-gray;
    }

    input:focus {
      outline-color: $font-gray;
      outline-width: 1px;
    }
  
    input::placeholder {
        color: $font-gray;
    }
  }

  .button {
    width: 100%;
    margin: 1em 0;

    button {
      font-size: 1.25em;
      font-weight: 100;
      width: 100%;
      line-height: 2.5em;
      padding: 0;
      margin-top: 2em;
      border-radius: 20px;
      background-color: $main-green;
      color: white;
      border: none;
      box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
      letter-spacing: .3em;
      transition: transform 0.3s ease;
    }

    button:hover {
      transform: scale(1.025);
    }
  }
}