<form [formGroup]="credentialsForm" (ngSubmit)="onSubmit()">
  <div class="field">
    <input type="text" formControlName="username" placeholder="Username" />
  </div>
  @if ((credentialsFormControl['username'].touched || submitted) && credentialsFormControl['username'].errors?.['required']) {
    <span style="color: #08a045">Username is required</span>
  }
  <div class="field">
    <input type="email" formControlName="email" placeholder="Email" />
  </div>
  @if ((credentialsFormControl['email'].touched || submitted) && credentialsFormControl['email'].errors?.['required']) {
    <span style="color: #08a045">Email is required</span>
  }
  @if (credentialsFormControl['email'].touched && credentialsFormControl['email'].errors?.['email']) {
    <span style="color: #08a045">Enter valid email</span>
  }
  <div class="field">
    <input type="password" formControlName="password" placeholder="Password" />
  </div>
  @if ((credentialsFormControl['password'].touched || submitted) && credentialsFormControl['password'].errors?.['required']) {
    <span style="color: #08a045">Password is required</span>
  }
  <div class="button">
    <button type="submit">NEXT</button>
  </div>
  @if (this.message) {
    <p>{{ message }}</p>
  }
</form>
