spring:
  application:
    name: traintogether

  datasource:
    url: jdbc:postgresql://localhost:5432/traintogether
    username: root
    password: root
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false
