spring:
  application:
    name: traintogether

  datasource:
    url: jdbc:postgresql://localhost:5432/traintogether
    username: root
    password: root
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false


rsa:
  public-key: classpath:certs/public.pem
  private-key: classpath:certs/private.pem